.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputWrapper {
  display: flex;
  gap: 0.5rem;
}

.createChatLabel {
  font-weight: 700;
}

.submitButton {
  height: 2rem;
}
